Repository boneapriltea/aprilbeat-public, pull requests merged in 2022-03, with the labels that each got.

#4 Added auth signup/ Add TypeScript Defs / Add Proper Versioning
  .vscode/settings.json
  README.md
  clients/lowLag.ts
  components/Topbar.tsx
  constants/customTypings/app.d.ts
  constants/customTypings/app.ts
  constants/development.ts
  package.json
  pages/_app.tsx
  pages/api/user/signup.ts
  pages/auth/action.tsx
  pages/auth/index.tsx
  pages/canvas.tsx
  pages/dev/debug/main.tsx
  pages/game/index.tsx
  pages/game/menu.tsx
  pages/game/play/beatmapselect.tsx
  pages/index.tsx
  prisma/schema.prisma
  tsconfig.json
Labels: area:database, area:auth, area:api, area:local-storage, priority:3, type:code, type:UI

#8 Fixed State management
  pages/_app.tsx
  pages/game/menu.tsx
Labels: area:intro, priority:4, status:workingonit, area:statemanagement

#10 Dev
  .dockerignore
  Dockerfile
  README.md
  components/Topbar.tsx
  constants/customTypings/app.ts
  package.json
  pages/_app.tsx
  pages/game/index.tsx
  pages/game/menu.tsx
Labels: area:intro, area:auth, area:api, type:audio, type:code, type:UI

#11 Added timestamp to default api
  pages/api/hello.ts
Labels: area:api, type:code

#12 Fix Prisma Issue and Signup Issue
  package.json
Labels: area:auth, area:api, priority:2, type:code

#13 Few fixes and improvements
  clients/apiPublic.ts
  components/DialogComponent.tsx
  components/ErrorCatcher.tsx
  components/Topbar.tsx
  constants/customTypings/app.ts
  next.config.js
  package-lock.json
  package.json
  pages/_app.tsx
  pages/api/auth/signup.ts
  pages/api/hello.ts
  pages/api/user/me.ts
  pages/auth/action.tsx
  pages/auth/index.tsx
  pages/game/menu.tsx
  styles/Home.module.css
Labels: area:auth, area:api, type:code, type:performance, type:UI

#14 Some new improvements
  clients/lowLag.ts
  functions/roundings.ts
  pages/api/storage/bucket/[songid]/objectlink.ts
  pages/game/index.tsx
  prisma/schema.prisma
  tsconfig.json
Labels: area:database, area:api, type:audio, type:code

#16 A whole lot improvements :)
  clients/api.ts
  clients/apiPublic.ts
  clients/lowLag.ts
  pages/api/storage/bucket/songs/[songid]/object.ts
  pages/api/user/me.ts
  pages/game/[beatmapid]/play.tsx
  pages/game/index.tsx
  prisma/schema.prisma
Labels: area:database, area:intro, area:auth, area:api, type:audio, type:code, type:performance, area:statemanagement

#17 Fixed Audio Engine Glitches
  clients/lowLag.ts
  pages/api/storage/bucket/songs/[songid]/objectlink.ts
  pages/game/index.tsx
Labels: area:intro, area:api, type:audio, type:bugfix

#18 Fixed few issues
  clients/lowLag.ts
  components/ErrorCatcher.tsx
  components/Infobar.tsx
  components/Topbar.tsx
  components/bottomBar.tsx
  package-lock.json
  package.json
  pages/_app.tsx
  pages/auth/index.tsx
  pages/game/index.tsx
  pages/game/menu.tsx
  pages/game/play/[beatmapid]/play.tsx
Labels: area:intro, area:auth, type:audio, type:code, type:performance
